h1{
    font-size: 35px;
    margin: 50px 30px;
}
.agree {
    text-align: center;
    background-color: rgb(81, 73, 137);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    .content{
      background-color: rgb(244, 244, 244);
      width: 90%;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 5px;
      flex-direction: column;
      padding: 20px 50px 10px 50px;
      margin-bottom: 50px;
     span p{
        text-align: left;
      }
    }
    .buttA{
      border: none;
      color: rgb(81, 73, 137);
      background-color: white;
      font-size: 16px;
      font-size: bold;
      align-self: self-start;
      margin-top: 20px;
    }
    .buttA:hover{
      cursor: pointer;
      color: #260258;
    }
}